div{

}

*{
    margin: 0px;
}

#nav2{
    width: 100%;
    height: 60px;
    background-color: rgb(172, 191, 231);
    border-radius: 10px;
    text-align: center;
    display: inline-block;
}
#cybercl{
    width: 10px;
    height: 10px;
    padding-left: 10px;

}

#general{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10px;
    padding-bottom: 35px;
}

#imagenGrande{
    border-radius: 50px;
    padding-bottom: 15px;
    width: 80%;
}

#barraFiltro{
    padding-top: 2px;
    border-style: solid;
    border-color: black;
    width: 80%;
     display: inline-block;
    border-radius: 15px;
    opacity: 0.5;
    


}

#vercategorias{
    border-style: solid;
    border-color: blue;
    width: 15%;
    display: inline-block;
    border-radius: 15px;
    padding-left: 3px;
    padding-top: 5px;
    

}

.fila1, .fila2{
    padding: 10px;
    
}

.marca{
    display: inline-block;
    width: 15%;
    padding-bottom: 15px;
    background-color: rgb(65, 65, 219);
    margin-left: 4px;
    border-radius: 5px;
}

.cartas{
    width: 100%;

}

a{
    text-decoration: none;
}

#conocermas{
    width: 100%;
    padding: 5px;

}

.extras{
    display: inline-block;
    width: 15%;
    padding-bottom: 15px;
    padding: 5px;

}

.iconos{
    width: 80%;

}

#problema{
    padding: 5px;
    padding-top: 30px;
    
}

.resolucion{
    border-style: solid;
    border-color: #afbfeb;
    background-color: #afbfeb;
    width: 20%;
    display: inline-block;
    border-radius: 15px;
    padding-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#parte1{
    background-color: #ebedf1;
    padding-top: 10px;
    width: 100%;
    text-align: center;
    height: 150 px;
    display: inline-block;
}   

.otros{
    display: inline-block;
    padding-top: 20px;
    padding: 20px;
}

.otraspaginas{
    width: 80%;
    padding: 5px;
}

.otraspaginas1{
    width: 50%;
}

#descargar{
    background-color: #afbfeb;
    text-align: left;
    padding-left: 20%;
    padding-top: 20px;
    height: 200px;
}
